@media (max-width: 350px) {
    * {
        background-color: black;
    }
    
}

input:placeholder-shown {
    font-style: italic;
}

#addTodoBtn {
    width: 300px;
    border: none;
    background-color: rgb(74, 147, 249);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;  
}

#addTodoBtn:active {
    font-size: 18px;
}

#userInput {
    margin-top: 8px;
    width: 60%;
    padding: 12px;
    background-color: white;
    text-align: left;
    border-radius: 4px;
}

.no-border {
    border: 0;
    box-shadow: none;
}

#clock-container {
    background-color: rgb(186, 212, 249);
    font-size: 2rem;
    width: 40%;
    margin: 10px auto;
    margin-top: 10px;
    border-radius: 6px;
}

.quote {
    margin: 10px auto;
    padding: 20px;
    width: 50%;
    border-radius: 6px;
    background-color: rgb(74, 147, 249);
}

.author {
    border-radius: 6px;
    padding: 40px, 0;
    text-align: right;
}

.test-class {
    white-space: pre;
    font-family: 'Open Sans', sans-serif;
}

.todo-list {
    max-width: 60%;
    margin: auto;
}

.todo-item {
    padding: 12px;
    background-color: white;
    width: 100%;
    margin-top: 8px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    border-left: 6px solid transparent;
}

.todo-item:hover {
    border-left: 6px solid grey;
}

